lambda/InvokeOutboundCallHandler_code/AtlasEngineWorkflow.asl.json
{"Comment":"AtlasEngineWorkflow - Four-phase customer engagement process","StartAt":"Create Salesforce Lead","States":{"Create Salesforce Lead":{"Type":"Task","Resource":"arn:aws:lambda:us-west-2:<AWS_ACCOUNT_ID>:function:CreateLeadHandler","ResultPath":"$.salesforce","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.TooManyRequestsException"],"IntervalSeconds":2,"MaxAttempts":3,"BackoffRate":2}],"Catch":[{"ErrorEquals":["States.ALL"],"Next":"Workflow Failed"}],"Next":"Generate Dynamic Scenario"},"Generate Dynamic Scenario":{"Type":"Task","Resource":"arn:aws:lambda:us-west-2:<AWS_ACCOUNT_ID>:function:GenerateDynamicScenarioHandler","ResultPath":"$.llm","Next":"Invoke Outbound Voice Contact"},"Invoke Outbound Voice Contact":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke.waitForTaskToken","TimeoutSeconds":1800,"Parameters":{"FunctionName":"arn:aws:lambda:us-west-2:<AWS_ACCOUNT_ID>:function:InvokeOutboundCallHandler","Payload":{"Input.$":"$","TaskToken.$":"$$.Task.Token"}},"ResultPath":"$.outboundCall","Next":"Update Lead with Summary"},"Update Lead with Summary":{"Type":"Task","Resource":"arn:aws:lambda:us-west-2:<AWS_ACCOUNT_ID>:function:UpdateLeadHandler","Parameters":{"leadId.$":"$.salesforce.leadId","summary.$":"$.outboundCall.summary"},"ResultPath":"$.summaryResult","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.TooManyRequestsException","SalesforceAuthenticationFailed"],"IntervalSeconds":2,"MaxAttempts":2,"BackoffRate":2}],"Catch":[{"ErrorEquals":["States.ALL"],"Next":"Workflow Failed"}],"End":true},"Workflow Failed":{"Type":"Fail","Error":"WorkflowExecutionFailed","Cause":"The workflow failed during execution"}}}